@import 'mixins';

.about {
    padding-top: 100px;
    @include flexCenter(column);
    background-color: $primary-bg;
    color: $secondary-txt;
    width: 100%;
    height: 100vh;
    min-height: 1200px;
    // bottom: 0;

    .highlighted__span {
        color: $primary-txt !important;
    }
    span.bg-txt-overlay {
        @include flexCenter(column);
        position: absolute;
        padding-bottom: 650px;
        font-size: 19px;
        // max-width: 300px;
        font-family: 'Comfortaa', cursive;
        font-style: oblique;
        span {
            // flex-wrap: wrap;
            letter-spacing: 8px;
            transition: .5s ease-in-out;
            &:hover {
                transition: .7s ease-in-out;
                color: $primary-txt;
                font-style: italic;
            }
            @media (min-width: 658px) {
                letter-spacing: 12px;
            }
        }
        @media (min-width: 658px) {
            padding-bottom: 640px;
            font-size: 32px;
            // flex-direction: row;
            // width: 800px;
        }
    }
    .about-header h1 {
        font-size: 64px;
        font-family: 'Comfortaa', cursive;
        @media (min-width: 658px) {
            font-size: 64px;
        }
        color: $secondary-txt;
    }
    .about-info-container {
        p {
            max-width: 800px;
            font-size: 22px;
            padding: 20px;
            @media (min-width: 658px) {
                font-size: 28px;
            }
        }
    }
}