@import 'mixins';
$primary-bg: #14181e;
$primary-txt: #ffffea;
$secondary-txt: #95b2b8;

.App {
    top: 0;
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
}

.hero {
    @include flexCenter(column);
    justify-content: flex-start;
    padding-top: 200px;
    background-color: $primary-bg;
    color: $primary-txt;
    right: 0;
    margin: 0;
    top: 100px;
    width: 100vw;
    height: 100vh;
    min-height: 500px;
    P {
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;
        max-width: 900px;
        text-align: center;
        font-size: 32px;
    }
    .hero-info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        span span {

            margin: 30px;
            font-size: 20px;
            transition-property: font-style;
            transition-duration: 1s;
            transition-timing-function: ease;
            transition-delay: 0s;
            width: 500px;
            // letter-spacing: 0.235px;
            &:nth-child(2) {
                &:hover {
                    transition-property: font-style;
            transition-duration: 1s;
            transition-timing-function: ease;
            transition-delay: 0s;
                    color: $secondary-txt;
                    font-style: oblique;
                    // letter-spacing: 0;
                }
                &:before {
                    display: block;
                    content: attr(title);
                    font-weight: bold;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }
            &:nth-child(1) {
                &:hover {
                    transition-property: font-style;
                    transition-duration: 1s;
                    transition-timing-function: ease;
                    transition-delay: 0s;
                    color: $secondary-txt;
                    font-style: oblique;
                    // letter-spacing: 0;
                }
                &:before {
                    display: block;
                    content: attr(title);
                    font-weight: bold;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }
            &:nth-child(3) {
                &:hover {
                    transition-property: font-style;
                    transition-duration: 1s;
                    transition-timing-function: ease;
                    transition-delay: 0s;
                    color: $secondary-txt;
                    font-style: oblique;
                    // letter-spacing: .225px;
                }
                &:before {
                    display: block;
                    content: attr(title);
                    font-weight: bold;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }
        }
    }
}