@import 'mixins';


.projects-container {
    @include flexCenter(column);
    background-color: #14181e;
    height: fit-content;
    width: 100vw;
    .projects-header {
        color: $secondary-txt;
        font-size: 32px;
        background-color: transparent;
        font-family: 'Comfortaa', cursive;
    }
   

    hr {
        // visibility: hidden;
        margin: 20px 0 0 20px auto;
        // padding: 20px 0 0 0;
        margin-top: 40px;
        width: 20%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #95b2b8, rgba(255, 255, 255, 0));
    }

    .project-info-header {
        @include flexCenter(row);
        font-size: 16px;
    }

    .project {
        @include flexCenter(column);
        margin: 20px;

        span {
            transition: .6s ease-in-out;
            a {
                transition: .6s ease-in-out;
                color: $secondary-txt;
                text-decoration: none;
                padding: 4px;
                border: 1px solid $secondary-txt;
                border-radius: 2px;
                &:hover {
                    transition: .6s ease-in-out;
                    color: $primary-txt;
                    background-color: $secondary-txt;
                    // text-decoration: line-through;
                }
            }
        }

        .project-info-header {

            @include flexCenter(column);
            justify-content: space-between;
            // min-width: 320px;
            @media (min-width: 658px) {
                min-width: 420px;
                flex-direction: row;
            }
        }
        .project-info-container {
            @include flexCenter(column);
            span {
                margin: 5px;
            }
        }
        
        ul {
            list-style: none;
            @include flexCenter(row);
            flex-wrap: wrap;
            padding-inline-start: 0;
            li {
                border: 1px solid white;
                width: fit-content;
                padding: 5px;
                margin: 5px;
                border-radius: 5px;
                transition: .8s ease-in-out;
                &:hover {
                    background-color: $secondary-txt;
                    
                    color: $primary-bg;
                    transition: .7s ease-in-out;
                }
            }
        }
        img {
            max-width: 280px;
            border-radius: 4px;
            margin: 10px;
            // border-radius: 5px;
            @media (min-width: 900px) {
                max-width: 420px;
            }
        }
        
        h3 {
            padding: 5px;
        }
        .project-info-p {
            text-align: left;
            max-width: 420px;
        }
        @media (min-width: 658px) {
            flex-direction: row;
        }
    }

    .img-right {
        flex-direction: column;
        @media (min-width: 658px) {
            flex-direction: row-reverse;
        }
    }
}