@-webkit-keyframes rotateBG {
  from {
    -webkit-transform: skew(3deg, 3deg);
            transform: skew(3deg, 3deg);
  }
  to {
    -webkit-transform: skew(7deg, 7deg);
            transform: skew(7deg, 7deg);
  }
}

@keyframes rotateBG {
  from {
    -webkit-transform: skew(3deg, 3deg);
            transform: skew(3deg, 3deg);
  }
  to {
    -webkit-transform: skew(7deg, 7deg);
            transform: skew(7deg, 7deg);
  }
}

.App {
  top: 0;
  margin: 0;
  padding: 0;
}

header {
  height: 79px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #14181e;
  color: #ffffea;
  right: 0;
  margin: 0;
  top: 100px;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  min-height: 500px;
  z-index: 1;
}

.hero .hero-bg {
  background-image: url(/src/assets/images/star-bg-3.jpg);
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .8;
  z-index: 0;
  background-attachment: fixed;
  height: 50vh;
  width: 100vh;
}

@media (min-width: 658px) {
  .hero .hero-bg {
    width: 90vw;
    -webkit-transform: skew(4deg, 4deg);
            transform: skew(4deg, 4deg);
    background-attachment: fixed;
  }
}

.hero .hero-info-container {
  margin-top: 50px;
  padding-bottom: 5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 658px) {
  .hero .hero-info-container {
    margin-top: 100px;
  }
}

.hero .hero-info-container P {
  -webkit-margin-before: 0 !important;
          margin-block-start: 0 !important;
  -webkit-margin-after: 0 !important;
          margin-block-end: 0 !important;
  max-width: 1000px;
  text-align: center;
  font-size: 22px;
  padding: 7px;
  margin-bottom: 5px;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  color: #9AE5E6;
}

@media (min-width: 658px) {
  .hero .hero-info-container P {
    font-size: 32px;
    padding: 5px;
  }
}

.hero .hero-info-container span {
  text-align: center;
}

.hero .hero-info-container span.__highlighted, .hero .hero-info-container a.__highlighted {
  color: #ffffea;
  text-decoration: none;
}

.hero .hero-info-container span.hero__highlighted {
  margin: 30px;
  font-size: 20px;
  -webkit-transition-property: font-style;
  transition-property: font-style;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  letter-spacing: 13px;
}

@media (min-width: 658px) {
  .hero .hero-info-container span.hero__highlighted {
    letter-spacing: 30px;
    font-size: 32px;
  }
}

.hero .hero-info-container span.hero__highlighted:nth-child(2):hover {
  -webkit-transition-property: font-style;
  transition-property: font-style;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: #95b2b8;
  font-style: oblique;
}

.hero .hero-info-container span.hero__highlighted:nth-child(1):hover {
  -webkit-transition-property: font-style;
  transition-property: font-style;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: #95b2b8;
  font-style: oblique;
}

.hero .hero-info-container span.hero__highlighted:nth-child(3):hover {
  -webkit-transition-property: font-style;
  transition-property: font-style;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: #95b2b8;
  font-style: oblique;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #14181e;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
}

.projects-container .projects-header {
  color: #95b2b8;
  font-size: 32px;
  background-color: transparent;
  font-family: 'Comfortaa', cursive;
}

.projects-container hr {
  margin: 20px 0 0 20px auto;
  margin-top: 40px;
  width: 20%;
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#95b2b8), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #95b2b8, rgba(255, 255, 255, 0));
}

.projects-container .project-info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 16px;
}

.projects-container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.projects-container .project span {
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.projects-container .project span a {
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  color: #95b2b8;
  text-decoration: none;
  padding: 4px;
  border: 1px solid #95b2b8;
  border-radius: 2px;
}

.projects-container .project span a:hover {
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  color: #ffffea;
  background-color: #95b2b8;
}

.projects-container .project .project-info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 658px) {
  .projects-container .project .project-info-header {
    min-width: 420px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.projects-container .project .project-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-container .project .project-info-container span {
  margin: 5px;
}

.projects-container .project ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.projects-container .project ul li {
  border: 1px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.projects-container .project ul li:hover {
  background-color: #95b2b8;
  color: #14181e;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.projects-container .project img {
  max-width: 280px;
  border-radius: 4px;
  margin: 10px;
}

@media (min-width: 900px) {
  .projects-container .project img {
    max-width: 420px;
  }
}

.projects-container .project h3 {
  padding: 5px;
}

.projects-container .project .project-info-p {
  text-align: left;
  max-width: 420px;
}

@media (min-width: 658px) {
  .projects-container .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.projects-container .img-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 658px) {
  .projects-container .img-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.about {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #14181e;
  color: #95b2b8;
  width: 100%;
  height: 100vh;
  min-height: 1200px;
}

.about .highlighted__span {
  color: #ffffea !important;
}

.about span.bg-txt-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding-bottom: 920px;
  font-size: 19px;
  font-family: 'Comfortaa', cursive;
  font-style: oblique;
}

.about span.bg-txt-overlay span {
  letter-spacing: 8px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.about span.bg-txt-overlay span:hover {
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  color: #ffffea;
  font-style: italic;
}

@media (min-width: 658px) {
  .about span.bg-txt-overlay span {
    letter-spacing: 12px;
  }
}

@media (min-width: 658px) {
  .about span.bg-txt-overlay {
    padding-bottom: 800px;
    font-size: 32px;
  }
}

.about .about-header h1 {
  font-size: 64px;
  font-family: 'Comfortaa', cursive;
  color: #95b2b8;
}

@media (min-width: 658px) {
  .about .about-header h1 {
    font-size: 64px;
  }
}

.about .about-info-container p {
  max-width: 800px;
  font-size: 22px;
  padding: 20px;
}

@media (min-width: 658px) {
  .about .about-info-container p {
    font-size: 28px;
  }
}

footer {
  bottom: 0;
  width: 100%;
  background-color: #14181e;
  color: #ffffea;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  font-family: 'Comfortaa', cursive;
}

@media (min-width: 658px) {
  footer {
    font-size: 22px;
  }
}

footer .awesome {
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  color: #95b2b8;
}

footer .awesome:hover {
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 200px;
  padding: 10px;
}

footer .contact-icons a {
  font-size: 32px;
}

@media (min-width: 658px) {
  footer .contact-icons a {
    font-size: 40px;
  }
}

footer .contact-icons i {
  color: #95b2b8;
  -webkit-transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 50px;
}

footer .contact-icons i:hover {
  -webkit-transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  color: #ffffea;
}

html {
  overflow-x: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #14181e;
}

.App {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #14181e;
}
/*# sourceMappingURL=styles.css.map */