@-webkit-keyframes rotateBG {
  from {
    -webkit-transform: skew(3deg, 3deg);
            transform: skew(3deg, 3deg);
  }
  to {
    -webkit-transform: skew(7deg, 7deg);
            transform: skew(7deg, 7deg);
  }
}

@keyframes rotateBG {
  from {
    -webkit-transform: skew(3deg, 3deg);
            transform: skew(3deg, 3deg);
  }
  to {
    -webkit-transform: skew(7deg, 7deg);
            transform: skew(7deg, 7deg);
  }
}

.App {
  top: 0;
  margin: 0;
  padding: 0;
}

header {
  height: 79px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #14181e;
  color: #ffffea;
  right: 0;
  margin: 0;
  top: 100px;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  z-index: 1;
}

.hero .hero-bg {
  background-image: url(/src/assets/images/star-bg-3.jpg);
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: skew(4deg, 4deg);
          transform: skew(4deg, 4deg);
  opacity: .8;
  z-index: 0;
  background-attachment: initial;
  width: 90vw;
  height: 50vh;
  min-height: 500px;
}

@media (min-width: 658px) {
  .hero .hero-bg {
    background-attachment: fixed;
  }
}

.hero .hero-info-container {
  margin-top: 50px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-info-container P {
  -webkit-margin-before: 0 !important;
          margin-block-start: 0 !important;
  -webkit-margin-after: 0 !important;
          margin-block-end: 0 !important;
  max-width: 1000px;
  text-align: center;
  font-size: 22px;
  padding: 7px;
  color: #9AE5E6;
}

@media (min-width: 658px) {
  .hero .hero-info-container P {
    font-size: 32px;
    padding: 5px;
  }
}

.hero .hero-info-container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.hero .hero-info-container span {
  margin: 30px;
  font-size: 20px;
  -webkit-transition-property: font-style;
  transition-property: font-style;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  letter-spacing: 13px;
}

@media (min-width: 658px) {
  .hero .hero-info-container span {
    letter-spacing: 30px;
    font-size: 32px;
  }
}

.hero .hero-info-container span:nth-child(2):hover {
  -webkit-transition-property: font-style;
  transition-property: font-style;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: #95b2b8;
  font-style: oblique;
}

.hero .hero-info-container span:nth-child(1):hover {
  -webkit-transition-property: font-style;
  transition-property: font-style;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: #95b2b8;
  font-style: oblique;
}

.hero .hero-info-container span:nth-child(3):hover {
  -webkit-transition-property: font-style;
  transition-property: font-style;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: #95b2b8;
  font-style: oblique;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #14181e;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
}

.projects-container .projects-header {
  color: #95b2b8;
  font-size: 32px;
  background-color: transparent;
}

.projects-container .project-info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects-container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.projects-container .project .project-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-container .project .project-info-container span {
  margin: 5px;
}

.projects-container .project ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.projects-container .project ul li {
  border: 1px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.projects-container .project ul li:hover {
  background-color: #95b2b8;
  color: #14181e;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.projects-container .project img {
  max-width: 280px;
  border-radius: 5px;
  padding: 10px;
}

@media (min-width: 900px) {
  .projects-container .project img {
    max-width: 400px;
  }
}

.projects-container .project .project-info-p {
  text-align: left;
  max-width: 400px;
}

@media (min-width: 658px) {
  .projects-container .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.projects-container .img-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 658px) {
  .projects-container .img-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.about {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #14181e;
  color: #95b2b8;
  width: 100%;
  height: 100vh;
  min-height: 1200px;
}

.about span.bg-txt-overlay {
  position: absolute;
  padding-bottom: 650px;
  font-size: 32px;
  font-family: 'Comfortaa', cursive;
}

.about span.bg-txt-overlay span {
  letter-spacing: 8px;
}

@media (min-width: 658px) {
  .about span.bg-txt-overlay {
    padding-bottom: 550px;
  }
}

.about .about-header h1 {
  color: #95b2b8;
}

.about .about-info-container p {
  max-width: 800px;
  font-size: 22px;
  padding: 20px;
}

@media (min-width: 658px) {
  .about .about-info-container p {
    font-size: 28px;
  }
}

html {
  overflow-x: hidden;
}
/*# sourceMappingURL=styles.css.map */